/* Color definitions */
:root {
  --text1-color: #0021A5;
  --text1-hover-color: #FA4616;
  --text2-color: #111111;
  --text2-hover-color: #FA4616;
  --background-color: #ffffff;
}

/* Body */
body {
  background-color: var(--background-color);
}

/* Headers */
h1 {
  font-size: 300%;
  color: var(--text1-color);
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 0vh;
}

h1.title {
  padding: 0vh;
  visibility: hidden;
}
h1.name {
  padding: 3vh;
  padding-bottom: 0vh;
}
h1.affil {
  font-size: 130%;
  font-weight: lighter;
  color: var(--text2-color);
  padding: 0vh;
}

h2 {
  font-size: 230%;
  color: var(--text1-color);
  font-weight: bolder;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

/* Text */
p {
  font-size: 125%;
  color: var(--text2-color);
  font-weight: lighter;
}

p.menu {
  text-align: center;
  font-size: 150%;
}

p.intro {
  padding-top: 2vh;
}

p.footer {
  text-align: center;
  font-size: 100%;
  padding: 1vh;
}

body {
  font-weight: lighter;
  overflow-y: scroll;
}

ul {
  padding-bottom: 1vh;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-top: 1vw;
  padding-bottom: 0vw;
  text-align: left;
  font-weight: lighter;
}

u {
  text-decoration-thickness: 1px;
}

/* Marks */
a.rr {
    color: var(--text1-hover-color);
    background: none;
    font-weight: bold; 
    font-style: italic;
}
a.rr:hover {
  text-decoration: none;
}

a.pub {
    color: var(--text1-hover-color);
    background: none;
    font-weight: bold; 
    font-style: italic;
}
a.pub:hover {
  text-decoration: none;
}

/* Links */
a:link {
  color: var(--text1-color);
  transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
}
a.text1:link {
  color: var(--text1-color);
}
a.text1:visited {
  color: var(--text1-color);
}
a.text1:hover {
  color: var(--text1-hover-color);
  text-decoration: none;
}
a.text1:active {
  color: var(--text1-color);
}
a.text2:link {
  color: var(--text2-color);
}
a.text2:visited {
  color: var(--text2-color);
}
a.text2:hover {
  color: var(--text2-hover-color);
  text-decoration: none;
}
a.text2:active {
  color: var(--text2-color);
}

/* Images */
img.photo {
  height: 45vh; 
  margin-top: 40px; 
  margin-bottom: 40px;
}