/* color definitions */
:root {
  --text-color: #333333;          /* dark charcoal */
  --link-hover-color: #ADADAD;    /* light charcoal */
  --background-color: #FFFAFA;    /* snow white */
}

/* body */
body {
  background-color: var(--background-color);
}

/* headers */
h1.title {
  padding: 0vw;
  visibility: hidden;
}

/* text */
p {
  font-family: -apple-system-body, BlinkMacSystemFont-body, Helvetica, Arial, sans-serif;
  font-size: 200%;
  color: var(--text-color);
  text-align: left;
}
p.footer {
  color: var(--background-color);
  text-align: center;
  font-size: 100%;
  padding: 1vh;
}
p.big {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

ul li {
  list-style-type: none;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: left;
  font-family: -apple-system-body, BlinkMacSystemFont-body, Helvetica, Arial, sans-serif;
  font-size: 200%;
  color: var(--text-color);
}

.journal {
  font-weight: bold;
  font-style: italic;
}

/* links */
a.link:link {
  color: var(--text-color);
  text-decoration: underline;
}
a.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
a.link:active {
  color: var(--text-color);
  text-decoration: underline;
}
a.link:visited {
  color: var(--text-color);
  text-decoration: underline;
}
a.link:visited:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}