/*Color definitions*/
:root {
    --text-color: #111111;
    --link-color: #0046b7;
    --link-hover-color: #99c0ff;
    --navbar-color: #111111;
    --navbar-hover-color: #D5D8DC;
}

/* Body */
body { background-color: #fffff8; }

/* Headers */
h1 {
  font-size: 250%;
  color: var(--text-color);
  text-align: center;
  margin-top:20px;
  margin-bottom:0px;
  a {
    color: var(--text-color);
  }
}

h1.title { padding: 0px; visibility: hidden; }
h1.name { padding: 30px; padding-bottom: 0px; }
h1.affil { font-size: 100%; font-weight: lighter; }
h1.navbar { font-size: 150%; padding: 30px; font-variant: small-caps; }

h2 {
  font-size: 170%;
  color: var(--text-color);
  font-weight: bolder;
}


/* Text */
p {
  font-size: 120%;
  color: var(--text-color);
  font-weight: lighter;
}

p.intro { text-align: center; font-size: 100%; }

body {
  color: var(--text-color);
  font-weight: lighter;
  overflow-y: scroll;
}

ul {
  padding-bottom: 20px;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 5px;
  text-align: justify;
  color: var(--text-color);
  font-weight: lighter;
}


/* Links */
a:link { color: var(--link-color); 
  transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
}
a:visited { color: var(--link-color); }
a:hover { color: var(--link-hover-color); text-decoration: none; }
a:active { color: var(--link-color); }
a.name:link { color: var(--navbar-color); }
a.name:visited { color: var(--navbar-color); }
a.name:hover { color: var(--navbar-hover-color); text-decoration: none; }
a.name:active { color: var(--navbar-color); }

span.speaker { font-size: 50% }
img.speaker:hover {
    opacity: 0.3;
    transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -webkit-transition: opacity 0.15s linear;
}​

