/* Color definitions */
:root {
  --text-color: #000000;          /* black */
  --link-color: #012169;          /* Duke Navy Blue */
  --link-hover-color: #E89923;    /* Duke Persimmon */
  --journal-color: #C84E00;       /* Duke Copper */
  --background-color: #ffffff;    /* white */
}

/* Body */
body {
  background-color: var(--background-color);
}

/* Headers */
h1 {
  font-size: 300%;
  color: var(--text-color);
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 0vh;
}

h1.title {
  padding: 0vh;
  visibility: hidden;
}
h1.name {
  padding: 3vh;
  padding-bottom: 0vh;
}

h2 {
  font-size: 230%;
  color: var(--text-color);
  font-weight: bolder;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

/* Text */
p {
  font-size: 125%;
  color: var(--text-color);
  font-weight: lighter;
}

p.menu {
  text-align: center;
  font-size: 150%;
}

p.intro {
  padding-top: 2vh;
}

p.footer {
  text-align: center;
  font-size: 100%;
  padding: 1vh;
}

body {
  font-weight: lighter;
  overflow-y: scroll;
}

ul {
  padding-bottom: 1vh;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-top: 1vw;
  padding-bottom: 0vw;
  text-align: left;
  font-weight: lighter;
}

u {
  text-decoration-thickness: 1px;
}

/* Marks */
a.rr {
    color: var(--journal-color);
    background: none;
    font-weight: bold; 
    font-style: italic;
}
a.rr:hover {
  text-decoration: none;
}

a.pub {
    color: var(--journal-color);
    background: none;
    font-weight: bold; 
    font-style: italic;
}
a.pub:hover {
  text-decoration: none;
}

/* Links */
a:link {
  color: var(--link-color);
  transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
}
a.link:link {
  color: var(--link-color);
}
a.link:visited {
  color: var(--link-color);
}
a.link:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
a.link:active {
  color: var(--link-color);
}

/* Images */
img.photo {
  height: 45vh; 
  margin-top: 40px; 
  margin-bottom: 40px;
}